---
---

@import "{{ site.theme }}";

#clock {
  float: center;
  text-align: center;
  line-height: 2;
  color:#fff;
  font-weight:700;
  font-size: 18px;
  background-color: #267CB9;
  border-radius: 5px;
  margin: auto 50px;
}
}

#drone {
  text-align: center;
}
